@font-face {
    font-family: myfont;
    src: url('font/GE_SS_Two_Bold.otf')
         
}
@font-face {
    font-family: myfont2;
    src: url('font/DroidNaskh-Regular.ttf')
         
}
.navbar-default {
    background-color:#459797;
    border-color:#000080;      
}


.navbar-default .navbar-nav>li>a {
    color:#fff;
    font-family: myfont;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #043e46;
}
.nav > li{
    position :relative;
    display:block;
    height :75px;
    padding-top:10px;
}
.myfooter {
    background-color :#b1d7d3;
    text-align :justify;
    font-family: myfont;
}
.subfooter{
    background-color :#459797;
    color:#fff;
    padding :10px;
    text-align :center;
    font-family: myfont;
}
.myfooter a,p{
    color:#459797;
}

.myfooter h3,ul,p{
    margin-bottom :20px;
    list-style-type: none;
    font-family: myfont2;

}
.logo-size {
    width: 120px;
    height: 62px;
    margin-top: -7px; 
}


body {
    padding-bottom: 100px;
}